body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

BODY
{
    font-family: Cambria, Georgia, "Times New Roman";
    margin: 0;
    background-image: url(img/e7.jpg);
    background-size: inherit;
    box-shadow: inset 0px 59px 41px 8px black;
}
DIV#header DIV.title, DIV.item H3, DIV.item H4, DIV.pager A
{
font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;

}
DIV#header
{
background-color: #444;
border-bottom: 2px solid #111;
color: White;

}
DIV#header DIV.title
{
font-size: 2em;
padding: .6em;
}
DIV#content
{
border-left: 2px solid gray;
margin-left: 0em;
padding: 0em;
}
DIV#categories
{
float: none;
width: 8em;
padding: .3em;
width: 96%;
border: 1px solid gray;
margin: auto;
border-radius: 5px;
background-image: url(img/e33.jpg);
box-shadow: 0px 3px 23px 3px black;
}

DIV#categories A
{
    font: small-caption;
    display: block;
    display: block;
    text-decoration: none;
    width: 240px;
    text-align: center;
    padding: .6em;
    color: #1a1a13;
    text-shadow: 0px 0px 0px black;
    border-bottom: 1px solid silver;
    display: inline-block;
    font-size: 13px;
    background-image: -webkit-linear-gradient(top, rgb(255, 253, 253) 0%, rgba(253, 253, 253, 0.53) 100%);
    border: 0px solid black;
    border-radius: 6px;
    padding: 4px 4px 4px 4px;
    margin: 3px 8px 4px 8px;
    box-shadow: inset 0px -1px 13px 1px gray;
    font-weight: 600;
}
DIV#categories A.selected { background-color: #666; color:  #e00a0a; }
DIV#categories A:hover { background-color: #CCC; }
DIV#categories A.selected:hover { background-color: #666; }



DIV.pager
{
text-align: right;
border-top: 2px solid silver;
padding: .5em 0 0 0;
margin-top: 1em;
}
DIV.pager A
{
font-size: 1.1em;
color: #666;
text-decoration: none;
padding: 0 .4em 0 .4em;
}
DIV.pager A:hover
{
background-color: Silver;
}
DIV.pager A.selected
{
background-color: #353535;
color: White;
}

.Grid{
    width: 70%;
}

.Grid1{
    width: 90%;
    border: 2px solid green;
    margin: auto;
}

.Grid1 th{
    border: 1px solid black;
    text-align: center;
}

.Grid1 td{
    border: 1px solid black;
    text-align: center;
}

DIV.item INPUT {
    color: White;
    background-color: #b73434;
    border: 1px solid blue;
    cursor: pointer;
    border-radius: 5px
}

DIV.item img{
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

H2 { margin-top: 0.3em }
TFOOT TD { border-top: 1px dotted gray; font-weight: bold; }
.actionButtons A, INPUT.actionButtons {
font: .8em Arial; color: White; margin: .5em;
text-decoration: none; padding: .15em 1.5em .2em 1.5em;
background-color: #353535; border: 1px solid black;
}

DIV#cart { float:right; margin: .8em; color: Silver;
background-color: #555; padding: .5em .5em .5em 1em; }
DIV#cart A { text-decoration: none; padding: .4em 1em .4em 1em; line-height:2.1em;
margin-left: .5em; background-color: #333; color:White; border: 1px solid black;}

.small_card{
    background-color: wheat;
    width: 100%;
    margin-top: 20px;


}

DIV.item
{
border: 2px solid gray;
    height: auto;
    width: 258px;
    display: inline-block;
    background-color: #ffffff;
    text-align: center;
    margin: 20px 20px 20px -2px;
    padding: 10px 10px 10px 0px;
    vertical-align: top;
        border-radius: 9px;
    box-shadow: 3px 3px 15px;
}

.title1{
    border-radius: 10px;
	height: 30px;
	font-weight: bolder;
	margin: 26px 10px 20px 10px;
	margin-left: 7%;
	margin-top: 2%;
	width: 100%;
	background-color: rgb(66, 50, 16);
	color: transparent;
	text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
	-webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

/*Кнопки для категорий*/
.button28 {
  position: relative;
    margin-left: 5%;
    width: 90%;
    height: 40px;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(209,209,217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  padding: .5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(226,226,205), rgb(81,81,86)) rgb(110,112,120);
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;
}
.button28:hover:not(:active) {
  background: linear-gradient(rgb(240,290,225), rgb(70,71,76)) rgb(126,126,134);
}
.button28:active {
  top: 1px;
  background: linear-gradient(rgb(226,275,205), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}

.button28 a{
color: #dee96d;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    border-right: 1px solid red;
    padding: 3px 11px 9px 11px;
    text-shadow: 1px 1px 1px black;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(img/e41.jpg);
    background-size: contain;
    box-shadow: 0px 10px 24px 6px black;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.head1{
    background-color: khaki;
}

#wrapper{
    width: 98%;
    height: 88px;
    margin: auto;
    background-color: rgba(251, 232, 0, 0.75);
    border: 1px solid gray;
    border-radius: 5px;
 background-color:#f2c248; 
 background-image: -webkit-linear-gradient(top, #ecfc3f 21%, #f29e48 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dceb6f', endColorstr='#dceb6f',GradientType=0 ); 
 background-image: linear-gradient(top, #f2c248 0% ,#dceb6f 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 background-image: url(img/e46.jpg);
 box-shadow: inset 0px -8px 52px 2px black;
}

#find{
    width: 77%;
    height: 35px;
    margin-left: 10%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid gray;
    box-shadow: inset 0px 0px 11px blue;
}

.button3{
text-decoration:none;
 text-align:center; 
padding:4px 26px;  
 border:solid 1px #004F72; 
 -webkit-border-radius:7px;
 -moz-border-radius:7px; 
 border-radius: 7px; 
 font:19px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#fcfcfc; 
 text-shadow: 1px 1px 1px black;
 background-color:#38b1d9; 
 background-image: -moz-linear-gradient(top, #38b1d9 0%, #28667a 100%); 
 background-image: -webkit-linear-gradient(top, #38b1d9 0%, #28667a 100%); 
 background-image: -o-linear-gradient(top, #38b1d9 0%, #28667a 100%); 
 background-image: -ms-linear-gradient(top, #38b1d9 0% ,#28667a 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28667a', endColorstr='#28667a',GradientType=0 ); 
 background-image: linear-gradient(top, #38b1d9 0% ,#28667a 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  margin-left: 10%; 
  margin-right: 70%;
  }

.button3:hover{
 padding:4px 26px; 
 border:solid 1px #005072; 
 -webkit-border-radius:7px;
 -moz-border-radius:7px; 
 border-radius: 7px; 
 font:19px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#fcfcfc; 
  text-shadow: 1px 1px 1px black;
 background-color:#23647a; 
 background-image: -moz-linear-gradient(top, #23647a 0%, #3baed4 100%); 
 background-image: -webkit-linear-gradient(top, #23647a 0%, #3baed4 100%); 
 background-image: -o-linear-gradient(top, #23647a 0%, #3baed4 100%); 
 background-image: -ms-linear-gradient(top, #23647a 0% ,#3baed4 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3baed4', endColorstr='#3baed4',GradientType=0 ); 
 background-image: linear-gradient(top, #23647a 0% ,#3baed4 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
 margin-left: 10%; 
 }

#k1{
    margin-left: 12%;
    font: 20px Georgia, "Times New Roman", Times, serif;
    font-weight:800;
    color: #dccd00;
    text-shadow: 1px 1px 1px black;
}


#main_title{
    border-radius: 10px;
    height: 30px;
    font-weight: bolder;
    margin: 35px 10px 0px 10px;
    margin-left: 18%;
    margin-top: 2%;
    width: 64%;
    padding-bottom: 69px;
    background-color: black;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}


/*Кнопка создать лот*/
.but1{
text-decoration:none;
 text-align:center; 
 padding: 5px 33px;
 border: solid 1px #ff383f; 
 -webkit-border-radius:5px;
 -moz-border-radius:5px; 
 border-radius: 5px; 
 font:20px Georgia, "Times New Roman", Times, serif; 
 font-weight:bold; 
 color: white; 
 text-shadow: 1px 1px 1px black;
 background-color: #f2c248; 
 background-image: -webkit-linear-gradient(top, #e8dc4c 0%, #9c7e49 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dceb6f', endColorstr='#dceb6f',GradientType=0 ); 
 background-image: linear-gradient(top, #f2c248 0% ,#dceb6f 100%);    
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }

/*Кнопка создать лот*/
.but1:hover{
 padding:5px 33px; 
 border:solid 1px #ff383f; 
 -webkit-border-radius:5px;
 -moz-border-radius:5px; 
 border-radius: 5px; 
 font:20px Georgia, "Times New Roman", Times, serif; 
 font-weight:bold; 
 color: white; 
 text-shadow: 1px 1px 1px black;
 background-color:#ecfc3f; 
 background-image: -webkit-linear-gradient(top, #9c7e49  0%, #e8dc4c 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9c843', endColorstr='#d9c843',GradientType=0 ); 
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
 text-decoration: none; 
 }

.grt{
    padding-left: 23px;
    padding-right: 0px;
    padding-bottom: 20px;
    background-color: #d8d8b1;
    border: 2px solid gray;
    border-radius: 9px;
    margin: 45px 25px 0px 20px;
}

/*Кнопка Мои лоты*/
.but2{
    text-decoration: none;
    text-align: center;
    padding: 5px 33px;
    border: solid 1px #ff383f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font: 20px Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: #f2c248;
    background-image: -webkit-linear-gradient(top, #58e655 0%, #2e7920 100%);
    background-image: -moz-linear-gradient(top, #f2c248 0%, #dceb6f 100%);
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }

/*Кнопка Мои лоты*/
.but2:hover{
    text-decoration: none;
    padding: 5px 33px;
    border: solid 1px #ff383f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font: 20px Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: #ecfc3f;
    background-image: -moz-linear-gradient(top, #ecfc3f 0%, #d9c843 100%);
    background-image: -webkit-linear-gradient(top, #2e7920 0%, #58e655 100%);
 }

/*Кнопка Мои ставки*/
.but3{
    text-decoration: none;
    text-align: center;
    padding: 5px 33px;
    border: solid 1px #ff383f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font: 20px Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: #f2c248;
    background-image: -webkit-linear-gradient(top, #44d2c5 0%, #798277 100%); 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
  
 }

/*Кнопка Мои ставки*/
.but3:hover{
    text-decoration: none;
    padding: 5px 33px;
    border: solid 1px #ff383f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font: 20px Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: #ecfc3f;
    background-image: -moz-linear-gradient(top, #ecfc3f 0%, #d9c843 100%);
    background-image: -webkit-linear-gradient(top, #798277 0%, #44d2c5 100%); 
 }

#ere{
    width: 255px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid gray;
    margin: 10px 10px 10px 10px;
}

.tab{
    border-right: 1px solid red;
}

.item1{
    opacity: 0.01;
    border: 2px solid gray;
    height: 75%;
    width: 17.3vw;
    display: inline-block;
    background-color: white;
    text-align: center;
    margin: 10px 0px 0px 10px;
    padding: 3px 11px 0px 0px;
    vertical-align: top;
    border-radius: 9px;
    box-shadow: 3px 3px 15px;
}

.item1:hover {
    opacity: 1;
}

.item0{
    opacity: 1;
    border: 2px solid gray;
    height: 240px;
    width: 19.4vw;
    display: inline-block;
    background-color: #ffffff;
    text-align: center;
    margin: 20px 20px 20px -2px;
    padding: 10px 10px 10px 0px;
    vertical-align: top;
        border-radius: 9px;
    box-shadow: 3px 3px 15px;
}

.item3{
    opacity: 1;
    border: 1px solid gray;
    height: 20%;
    width: 258px;
    display: inline-block;
    background-color: white;
    text-align: center;
    margin: -11px 10px 30px -3px;
    padding: 10px 10px 10px 0px;
    vertical-align: top;
    border-radius: 9px;
    box-shadow: 0px -1px -1px;

}

h5{
    font-weight: bolder;
    font-size: 12px;
}

.lotname{
    font-weight: bolder;
    background: #adada2;
    border-radius: 5px;
    border: 1px solid #343b3c;
    margin-left: 13px;
    margin-top: -6px;
    background-image: -webkit-linear-gradient(top, #ecfc3f 0%, #cc8f51 100%);
}

.lotname a{
    color: black;
    font-size: 18px;
    background-color: black;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}


.lotname1{
    font-weight: bolder;
    background: #adada2;
    border-radius: 5px;
    border: 1px solid #343b3c;
    margin-left: 10px;
    margin-top: 8px;
    background-image: -webkit-linear-gradient(top, #ecfc3f 0%, #cc8f51 100%);
}

.lotname1 a{
    color: black;
    font-size: 18px;
    background-color: black;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.col-md-10{
    margin: 20px 20px 20px 85px;
}

#imgedit{
    border: 2px solid gray;
    border-radius: 5px;
}

.col-md-2{
    margin: 0px 0px 0px 50px;
    width: 25%;
    color: teal;
    font-size: 20px;
}

.opn{
    margin-top: 5px;
    color: #c09853;
    text-shadow: 1px 1px 0px black;
    font-size: 16px;
}

/*Текст в описании лота*/
.NumericCol2 th{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    border-bottom: 2px solid gray;
    font-size: 20px;
    color: goldenrod;
    text-shadow: 1px 1px 1px black;
    width: 5%;
    border: 2px solid gray;
    background: rgba(255, 245, 238, 0.75);
    box-shadow: inset 0px 0px 22px -3px black;
}

/*Текст в описании лота*/
.NumericCol2{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    border-bottom: 2px solid gray;


}

.NumericCol2 td {
    border-right: 1px solid gray;
    padding: 10px 10px 10px 10px;
    box-shadow: inset 0px 0px 15px 1px black;
    text-shadow: 1px 1px black;
    color: white;
    background-color: rgba(128,128,128,0.9);
    width: 19%;
}

/*Ввод ставки*/
.bids{
    margin: 10px 10px 10px 10px;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
}

.lotname3 {
    font-weight: bolder;
    background: #adada2;
    border-radius: 5px;
    border: 2px solid #343b3c;
    margin-left: 0px;
    margin-top: -4px;
    background-image: -webkit-linear-gradient(top, #ecfc3f 0%, #cc8f51 100%);
    padding: 5px 7px 5px 7px;
    text-shadow: 1px 1px 1px white;
}

.lotnav {
    display: inline-flex;
    margin: 10px 2% 20px 38%;
    float: right;
    list-style-type: none;
}

.nameRow{
    width: 200px;
}

#dtitle{
    width: 171px;
    height: 49px;
    padding: 5px 5px 5px 5px;
    background-image: url(img/e55.jpg);
    border-radius: 10px;
    background-size: cover;
    margin-left: 7%;
	margin-top: 1.5%;
    box-shadow: -8px 14px 18px 2px black;
}

#forbut1{
    margin-right: 5%;
    padding: 75% 16% 1px;
}

.body-content1{
    width: 90%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(img/e41.jpg);
    background-size: contain;
    color: yellow;
    text-shadow: -1px -1px 1px black;
    padding-top: 27px;
}

.body-content1 h2{
    color:teal;
} 

#dfortitle{
    background-color: rgba(242, 194, 72, 0.85);
    width: initial;
    padding: 0px 2px 6px 1%;
    width: 90%;
    margin: auto;
    margin-top: 0px;
    border: 2px solid #777777;
    border-radius: 7px;
    box-shadow: inset 0px 0px 21px 1px black;
}

#titH2{
    color: #A04151;
    text-shadow: -1px -1px 1px black;
    font-weight: bolder;
    margin: 3% 0% 0% 0%;
    text-align: center;
}

#titH3{
    color: #41a0a0;
    text-shadow: -1px -1px 1px black;
    font-weight: bolder;
    margin: 3% 0% 0% 0%;
    text-align: center;
}

#titH4{
    color: #b96e0d;
    text-shadow: -1px -1px 1px black;
    font-weight: bolder;
    margin: 3% 0% 0% 0%;
    text-align: center;
}

@media only screen and (max-device-width: 1000px) {

    .item0 a{
        font-size: 11px;
        width: 10%;
    }

    .item0 h5{
        font-size: 9px;
        font-weight: 700;
    }

    .item0{
        width: 225px;
        height: 200px;
    }

    .lotnav{
        width: 40%;
        margin-left: -8%;
        float: left;
        display: inline-block;
    }

    .lotnav li {
        margin-bottom: 2px;
        min-width: 100px;
    }

    .lotname1 a{
        font-size: 9px;
        margin: 1px 1px 1px 1px;
    }

    .item1{
        height: 140px;
        width: 180px;
    }

    .grt{
        margin-top: 125px;
    }

    .Grid1{
        font-size: 10px;
    }
}



